@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.baba {
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
}
.carousel {
	/* border: 2px solid #ccc; */
	height: 400px;
	overflow: hidden;
	position: relative;
}
.slider {
	display: flex;
	height: 100%;
	width: 600%;
	/* border: 1px solid red; */
	transition: all 0.7s;
}
.slider section {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider-controls .arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor:pointer;
}
.arrow.left {
	left:10px;
	/* padding:80px 20px; */
	/* font-size: 70px; */
	height: auto;
	width: 5vw;
}
.arrow.right {
	right:10px;
	/* padding:80px 20px; */
	/* font-size: 70px; */
	height: auto;
	width: 5vw;
}

.slider-controls ul {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}
.slider-controls ul li {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	margin: 3px;
	background: transparent;
	cursor: pointer;
}
.slider-controls ul li.selected {
	background: #5e63c9;
}
@media (max-width: 768px) {
	.carousel {
		/* border: 2px solid #ccc; */
		height: 700px;
		overflow: hidden;
		position: relative;
	}
	.slider-controls ul{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	}
	.slider-controls .arrow {
		position: absolute;
		top: 90%;
		transform: translateY(-50%);
		cursor:pointer;
	}
	.arrow.left {
		left:10px;
		/* padding:80px 20px; */
		/* font-size: 70px; */
		height: auto;
		width: 10vw;
	}
	.arrow.right {
		right:10px;
		/* padding:80px 20px; */
		/* font-size: 70px; */
		height: auto;
		width: 10vw;
	}
  }